@import "_reset.css";
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@200&display=swap');
/*  Color palette
    -----------------------
    color       HEX code  RGB code
    -------------------------------------
    red:      	#960001	  rgb(150,0,1)
    yellow:     #e2e55f	  rgb(226,229,95)
    green:      #96c25f	  rgb(150,194,95)
    blue:       #5582c6	  rgb(85,130,198)
    purple: 	  #79519f	  rgb(121,81,159) 

    fonts
    -----------------------
    headings:   Cabin
    body:       Roboto

    font-sizes:
    -----------------------
    h1:   70px
    h2:   36px
    h3    24px
    body: 17px (all other text)

    breakpoints
    -----------------------
    desktop: 1200px
    
    max-width of the content is 1400px
*/

/* Add all of your styles here */

body {
  font: 17px Roboto, sans-serif;
  /* font-weight: 100; */
  background-color: #5582c6;
  color: white;
}
.container {
  max-width: 1400px;
  margin: auto;
}
.item {
  margin: 25px 100px 25px 100px;
}
.wallpaper {
  width: 1400px;
  height: 450px;
  object-fit: cover;
  object-position: 100% 0;
  margin: 0px 0px -250px 0px;
}
.header {
  display: flex;
  margin-bottom: -100px;
}
.poster {
  box-shadow: 4px 3px 8px 1px #0000003f;
}
.title {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; 
  /* justify-content: flex-start; 
  /* align-items: stretch; 
  /* align-content: center; */
  margin: 225px 120px 0px 120px;
}
.synopsis {
  margin: 110px 0px 0px 0px;
}
h1 {
  color: #960001;
  font-size: 70px;
  font-family: Cabin, sans-serif;
  font-weight: bold;
  background-color: rgb(208, 225, 228);
  max-width: 400px;
  margin: 5px 0px 10px -110px;
  border-right: 40px;
  border-left: 40px;
  border-top: 0px;
  border-bottom: 5px;
  border-style: solid;
  border-color: rgb(208, 225, 228);

}
h2 {
  color: #960001;
  font-size: 36px;
  font-family: Cabin, sans-serif;
  font-weight: bold;
  margin: 5px 0px;
}
h3 {
  color: #960001;
  font-size: 24px;
  font-family: Cabin, sans-serif;
  font-weight: bold;
  margin: 5px 0px;
}
a {
  color:#e2e55f;
  font-weight: bold;
  text-decoration:none;
}
#quote {
  color: #960001;
  background-color: #e2e55f;
  margin: 5px 0px;
  border: 25px;
  border-style: solid;
  border-color: #e2e55f;
}
#Woo {
  color: #960001;
  font-weight: bolder;
  background-color: #e2e55f;
  margin: 0px 0px 0px 100px ;
}
.button {
  background-color: #79519f;
  color: white;
  cursor: pointer;
  margin: 5px 0px 15px 0px;
  border: none;
  padding: 10px 100px;
  width: 310px;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.4s ease 0s;
}
.button:hover {
  color: #960001;
  background-color: #e2e55f;
  border-color: #e2e55f;
  border-radius: 30px;
  transition: all 0.4s ease 0s;
  }
.characters {
  display: flex;
  flex-wrap: wrap;
  /* background-color: grey;
  /* align-content: center;
  /* justify-content: space-around;
  /* Always on main axis
  /* align-items: stretch;
  /* Always on cross axis
  /* flex-basis: 25%; */
}
.section-right, .section-left {
  display: flex;
  flex-basis: 550px;
  flex-direction: column;
  /* justify-content: space-between;
  /* text-orientation: sideways-right;
  /* width: 200px;
  /* height: 200px; */
}
.section-right h3 {
  margin: 10px 0px 0px 10px;
}
.section-left h3 {
  margin: 10px 0px 0px 0px;
}
.section-left p {
  padding-top: 3px;
}
.section-right p {
  padding-top: 9px;
}
#Woody, #Forky {
  margin: 10px 15px 0px 0px;
  height: 200px;
  float: left;
  box-shadow: 4px 3px 8px 1px #0000003f;
}
#Buzz, #Bo {
  height: 200px;
  margin: 10px 15px 0px 10px;
  float: left ;
  box-shadow: 4px 3px 8px 1px #0000003f;
}
.question {
  margin: 5px 0px 15px 0px;
}
hr {
  color:#e2e55f
}
input {
  width: inherit;
  margin: 5px 0px 15px 0px;
  border: none;
  padding: 5px;
  width: 300px;
  font: 17px Roboto, sans-serif;
  margin: 10px 0px 10px 0px;
}
#ratings {
  padding: 10px;
  margin: 0px 0px 0px 500px 
}